{{#>../template/layout htmlWebpackPlugin pageTitle="404 - Not found"}}

<div class="content section">
    <h1 class="page-title">{{pageTitle}}</h1>
    What you are looking for is not here.
</div>

{{/../template/layout}}