<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sami Kalliomäki - {{pageTitle}}</title>
</head>
<body>
    <div class="site-container">
        <div class="header">
            <h1>Sami Kalliomäki</h1>
            {{>menu}}
        </div>

        <div class="columns main-container">
            <div class="column sidebar">
                {{>sidebar}}
            </div>

            <div class="column page-container">
                {{> @partial-block }}
            </div>
        </div>
    </div>
</body>
</html>