<div class="sidebar-section">
    <h1>Contact</h1>
    <ul class="fa-ul">
        <li>
            <span class="fa-li"><i class="far fa-envelope"></i></span>
            Email: <a href="mailto:sami@kalliomaki.me">sami@kalliomaki.me</a>
        </li>
        <li>
            <span class="fa-li"><i class="fab fa-github"></i></span>
            <a href="https://github.com/SamiKalliomaki">GitHub</a>
        </li>
        <li>
            <span class="fa-li"><i class="fab fa-linkedin-in"></i></span>
            <a href="https://linkedin.com/in/sami-kalliom%C3%A4ki-823990b2">LinkedIn</a>
        </li>
    </ul>
</div>

<div class="sidebar-section">
    <h1>Location</h1>
    <ul class="fa-ul">
        <li>
            <span class="fa-li"><i class="far fa-map"></i></span>
            Lisbon, Portugal
        </li>
    </ul>
</div>