{{#>../template/layout htmlWebpackPlugin pageTitle="Blog"}}

<div class="content section">
    <h1 class="page-title">{{pageTitle}}</h1>
    Add some content some day, maybe.
</div>

{{/../template/layout}}