{{#>../template/layout htmlWebpackPlugin pageTitle="About me"}}

<div class="content section">
    <h1 class="page-title">{{pageTitle}}</h1>
    <p>
        I am a software engineer with strong practical understanding of algorithms and data structures
        because of my background in competitive programming. During my 5-year professional career,
        I have specialized in WebRTC, traditional and ML video processing, and Android. My primary
        programming languages are Java and C++.
    </p>

    <p>
        I have a passion for solving novel problems in an ambiguous space. My key strength is quickly
        learning and applying new skills allowing me to tackle new problem domains quickly.
    </p>

    <p>
        I participated in IOI (International Olympiad in Informatics) 4 times during my high school
        years, scoring 1 silver medal and 2 bronze medals. In BOI (Baltic Olympiad in Informatics),
        I received 1 silver medal and 3 bronze medals. I also participated in Intel Science and
        Engineering Fair 2015 in a 2-person team with our project of a browser-based programming
        language for schools (IDE + compiler in JavaScript).
    </p>

    <h1>Competition results</h1>

    <ul>
        <li>IOI 2014 Silver medal</li>
        <li>BOI 2014 Silver medal</li>
        <li>IOI 2015 Bronze medal</li>
        <li>IOI 2013 Bronze medal</li>
        <li>BOI 2015 Bronze medal</li>
        <li>BOI 2013 Bronze medal</li>
        <li>BOI 2012 Bronze medal</li>
        <li>IOI 2012 Participant</li>
        <li>Intel Science and Engineering Fair 2015 Participant</li>
    </ul>

    <h1>Education</h1>

    <ul>
        <li>
            High school (Karkkilan lukio) - In the finals, I received the best possible grade
            (Laudatur) in A-level maths and English in addition to physics, chemistry and Finnish.
            For my score in maths, I received 1000 euro stipend from The Federation of Finnish
            Technology Industries.
        </li>
    </ul>
</div>

{{/../template/layout}}